/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Review Assignment
   
   Style Sheet for the Pandaisia Chocolates Monthly Specials
   Author: ...
   Date:   ...
   
   Filename: pc_specials.css

*/

/* Page Body Styles */

body {
   width: 95%;
   min-width: 640px;
   max-width: 960px;
   margin-left: auto;
   margin-right: auto;
}

/* Image Styles */

img {
   display: block;
   width: 100%;
}

/* Horizontal Navigation Styles */

nav.horizontal li {
   display: block;
   float: left;
   width: 16.66%;
}

nav li > a {
   display: block;
}

/* Row Styles */

div.newRow {
   width: 100%;
   clear: both;
}

div.newRow::after {
   clear: both;
   content: "";
   display: table;
}

/* Column Styles */

div[class^="col-"] {
   float: left;
   padding: 2% 2%;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

div.col-1-1 {width: 100%;}
div.col-1-2 {width: 50%;}
div.col-1-3 {width: 33.33%;}
div.col-2-3 {width: 66.67%;}
div.col-1-4 {width: 25%;}
div.col-3-4 {width: 75%;}

/* Specials Styles */

div.specials {
   min-height: 400px;
   outline: 1px dashed rgb(71,52,29);
}

/* Award Styles */

div#awardList {
   position: relative;
   height: 650px;
   overflow: auto;
}

div.awards {
   position: absolute;
   width: 30%;
}

div#award1 {
   top: 80px;
   left: 5%;
}

div#award2 {
   top: 280px;
   left: 60%;
}

div#award3 {
   top: 400px;
   left: 20%;
}

div#award4 {
   top: 630px;
   left: 45%;
}

div#award5 {
   top: 750px;
   left: 5%;
}

/* Footer Styles */

footer {
   clear: both;
}